$font-family-serif: "Constantia", "Lucida Bright", "Lucidabright", "Lucida Serif",
    "Lucida", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", 
    "Georgia", serif;
$font-family-sansserif: "Frutiger", "Frutiger Linotype", "Univers", "Calibri",
    "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", "Tahoma", "Geneva", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
$font-family-monospace: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", "Courier",
    monospace;

$font-size-default: 20px;
$margin-default: $font-size-default;

$color-text: #333;
$color-text-border: #546E7A;

$color-hyperlink: #0067A7;
$color-hyperlink-visited: #964F8E;
